*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: darkorchid;
    width: 100%;
    float: left;
    color: white;
}
.container{
    width: 90%;
    margin: auto;
}
.nevigasion{
    width: 100%;
    float: left;
    padding: 2%;
}
.logo-part{
    width: 50%;
    float: left;
}
.menu-part{
    width: 50%;
    float: left;
    text-align: center;
    display: flex;
}
.hero-part{
    width: 100%;
    float: left;
    text-align: center;
    padding: 5%;
}
#btn1{
    width: 15%;
    padding: 1%;
    margin: 3%;
    background-color: orangered;
    color: white;
}
#service{
    background-color: aqua;
    text-align: center;
    width: 100%;
    float: left;
    color: white;
}
.writing-part{
    width: 100%;
    float: left;
    margin: 5% auto;
}
.writing-box-p{
    margin: 2%auto;
}
.service-box-part{
    width: 100%;
    float: left;
}
.service-box{
    width: 25%;
    float: left;
    margin-bottom: 5%;
}